<div class="row">
  <div class="col-sm-8 offset-sm-2 mt-4">
    <div class="text-center">
      <h2>QiitanDebugBeginner にログイン</h2>
    </div>
    <%= simple_form_for(:session, url: login_path, html: { class: 'form-section' }) do |f| %>
      <%= f.error_notification %>
      <div class="form-group">
        <%= f.input :email, autocomplete: :email, required: false, label: 'メールアドレス' %>
        <%= f.input :password, autocomplete: 'current-password', required: false, label: 'パスワード' %>
      </div>
      <div class="form-group">
        <%= f.label :remember_me, class: 'checkbox inline' do %>
          <%= f.check_box :remember_me %>
          <span>次回から自動でログイン</span>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.submit 'ログイン', class: 'btn btn-primary btn-block btn-lg' %>
      </div>
      <%= render 'shared/links' %>
    <% end %>
  </div>
</div>