<div class="container footer__container">
  <ul class="footer_links-left">
    <li class="footer_link"><%= link_to "© #{Date.current.year} Matsushin Inc.", '#' %></li>
    <li class="footer_link"><%= link_to '利用規約', '#' %></li>
    <li class="footer_link"><%= link_to 'ガイドライン', '#' %></li>
    <li class="footer_link"><%= link_to 'プライバシー', '#' %></li>
    <li class="footer_link"><%= link_to 'ヘルプ', '#' %></li>
  </ul>
  <ul class="footer_links-right">
    <li class="footer_link"><%= link_to 'QiitanDebugBeginnerとは', '#' %></li>
    <li class="footer_link"><%= link_to 'ユーザー', '#' %></li>
    <li class="footer_link"><%= link_to 'タグ', '#' %></li>
    <li class="footer_link"><%= link_to '投稿', '#' %></li>
  </ul>
</div>