<!DOCTYPE html>
<html>
  <head>
    <title>QiitanDebugBeginner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <%= render 'layouts/messages' %>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main class="main__navigation">
      <section>
        <div class="container">
          <%= yield %>
        </div>
      </section>
    </main>
    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
